<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media Upload</title>

    <style>
        div.upload-wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            justify-content: center;
            background-color: #3a3b3c;
            border-radius: 10px;
        }

        .upload-select {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }

        .select-button {
            padding: 30px 50px;
            border-radius: 25px;
            background-color: #04abf2;
            border: none;
        }

        .button-icon {
            width: 50px;
        }

        .video-upload, .gallery-upload, .music-upload {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .form-field {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .file-upload-wrapper {
            display: flex;
            gap: 50px;
            justify-content: center;
        }

        .field-label {
            font-size: 18px;
        }

        .form-field input {
            border: none;
            border-radius: 10px;
            font-size: 14px;
            padding: 20px;
        }

        .submit-button {
            padding: 20px;
            color: #fff;
            background-color: #04abf2;
            border: none;
            border-radius: 10px;
            margin: 25px 0px;
            font-size: 18px;
        }

        .form-container {
            display: none;
        }
    </style>
</head>

<?php

if ($_SERVER["REQUEST_METHOD"] == "POST") {

    $videoForm = $_POST['video_hidden'];
    $galleryForm = $_POST['gallery_hidden'];
    $musicForm = $_POST['music_hidden'];

    if ($videoForm == 1) {
        // Define the target directory for video uploads
        $uploadDir = 'upload/videos/';

        // Create the current year and month directories if they don't exist
        $currentYear = date('Y');
        $currentMonth = date('m');
        $targetDir = $uploadDir . $currentYear . '/' . $currentMonth . '/';

        if (!is_dir($targetDir)) {
            // Create the year directory if it doesn't exist
            if (!is_dir($uploadDir . $currentYear)) {
                mkdir($uploadDir . $currentYear);
            }

            // Create the month directory
            mkdir($targetDir);
        }

        // Handle the video file upload
        $videoFile = $_FILES['video-input'];
        $thumbnailFile = $_FILES['video-thumb-input'];
        $videoTitle = $_POST['video-title-input'];
        $videoDescription = $_POST['video-desc-input'];
        $videoTags = $_POST['video-tag-input'];

        // Generate a unique folder name for this video upload
        $videoFolderName = uniqid();

        // Define the path for the dedicated folder
        $videoFolderPath = $targetDir . $videoFolderName . '/';

        // Create a dedicated folder for this video upload
        mkdir($videoFolderPath);

        // Generate a unique filename for the video and thumbnail
        $videoFileExtension = pathinfo($videoFile['name'], PATHINFO_EXTENSION);
        $thumbnailFileExtension = pathinfo($thumbnailFile['name'], PATHINFO_EXTENSION);

        $videoFileName = uniqid() . '.' . $videoFileExtension;
        $thumbnailFileName = uniqid() . '.' . $thumbnailFileExtension;

        // Define the paths for video and thumbnail within the dedicated folder
        $videoPath = $videoFolderPath . $videoFileName;
        $thumbnailPath = $videoFolderPath . $thumbnailFileName;

        // Move the uploaded files to the dedicated folder
        if (move_uploaded_file($videoFile['tmp_name'], $videoPath) && move_uploaded_file($thumbnailFile['tmp_name'], $thumbnailPath)) {

            $getID3 = new getID3;
            $video_file = $getID3->analyze($videoPath);
            $duration_string = $video_file['playtime_string'];

            $fields = array(
                'user_id' => $pt->user->id,
                'video_id' => $videoFolderName, // Use the folder name as video_id
                'title' => $_POST['video-title-input'],
                'description' => $_POST['video-desc-input'],
                'thumbnail' => $thumbnailPath, // Store the thumbnail path
                'video_location' => $videoPath, // Store the video path
                'size' => filesize($videoPath), // Get the video file size in bytes
                'duration' => $duration_string,
                'file_type' => 'video',
                'time' => time()
            );

            // Insert the data into the 'videos' table
            $videoSave = $db->insert('videos', $fields);
            if($videoSave){
                echo "Video Save Successful";
            }

            // Redirect or display a success message to the user
            echo "Upload successful!";
        } else {
            // Handle upload errors
            echo "Upload failed!";
        }
    }

    if ($galleryForm == 2) {

        // Define the target directory for gallery image uploads
        $galleryUploadDir = 'upload/photos/';

        // Create the current year and month directories if they don't exist
        $galleryCurrentYear = date('Y');
        $galleryCurrentMonth = date('m');
        $galleryTargetDir = $galleryUploadDir . $galleryCurrentYear . '/' . $galleryCurrentMonth . '/';

        if (!is_dir($galleryTargetDir)) {
            // Create the year directory if it doesn't exist
            if (!is_dir($galleryUploadDir . $galleryCurrentYear)) {
                mkdir($galleryUploadDir . $galleryCurrentYear);
            }

            // Create the month directory
            mkdir($galleryTargetDir);
        }

        $galleryImages = $_FILES['gallery-input'];
        $thumbnail = $_FILES['img-thumb-input'];

        // Generate a unique folder name for this gallery
        $galleryFolderName = uniqid();
        $galleryFolderPath = $galleryTargetDir . $galleryFolderName . '/';

        // Create a dedicated folder for this gallery
        mkdir($galleryFolderPath);

        $uploadedImagePaths = []; // Initialize an array to store image paths

        foreach ($galleryImages['tmp_name'] as $key => $tmpName) {
            // Generate a unique filename for each image
            $galleryImageFileExtension = pathinfo($galleryImages['name'][$key], PATHINFO_EXTENSION);
            $galleryImageFileName = uniqid() . '.' . $galleryImageFileExtension;

            // Define the path for the image within the gallery folder
            $galleryImagePath = $galleryFolderPath . $galleryImageFileName;

            // Move the uploaded image to the target directory
            if (move_uploaded_file($tmpName, $galleryImagePath)) {
                // Handle successful image upload, e.g., store image path in a database if needed

                $uploadedImagePaths[] = $galleryImagePath;

                echo "Images Upload successful!";
            } else {
                // Handle image upload errors
            }
        }

        $imagePathsString = implode(',', $uploadedImagePaths);

        // Generate a unique filename for the thumbnail
        $thumbnailFileExtension = pathinfo($thumbnail['name'], PATHINFO_EXTENSION);
        $thumbnailFileName = uniqid() . '.' . $thumbnailFileExtension;

        // Define the path for the thumbnail within the gallery folder
        $thumbnailPath = $galleryFolderPath . $thumbnailFileName;

        // Move the uploaded thumbnail to the target directory
        if (move_uploaded_file($thumbnail['tmp_name'], $thumbnailPath)) {
            // Handle successful thumbnail upload, e.g., associate it with the gallery

            $fieldsGallery = array(
                'user_id' => $pt->user->id,
                'video_id' => $galleryFolderName, // Use the folder name as video_id
                'title' => $_POST['img-title-input'],
                'description' => $_POST['img-desc-input'],
                'thumbnail' => $thumbnailPath, // Store the thumbnail path
                'video_location' => $imagePathsString, // Store the video path
                'file_type' => 'gallery',
                'time' => time()
            );

            // Insert the data into the 'videos' table
            $gallerySave = $db->insert('videos', $fieldsGallery);
            if($gallerySave){
                echo "Images Save Successful";
            }

            echo "Thumbnail Upload successful!";
        } else {
            // Handle thumbnail upload errors
        }
    }

    if ($musicForm == 3) {

        // Define the target directory for music file uploads
        $musicUploadDir = 'upload/music/';

        // Create the current year and month directories if they don't exist
        $musicCurrentYear = date('Y');
        $musicCurrentMonth = date('m');
        $musicTargetDir = $musicUploadDir . $musicCurrentYear . '/' . $musicCurrentMonth . '/';

        if (!is_dir($musicTargetDir)) {
            // Create the year directory if it doesn't exist
            if (!is_dir($musicUploadDir . $musicCurrentYear)) {
                mkdir($musicUploadDir . $musicCurrentYear);
            }

            // Create the month directory
            mkdir($musicTargetDir);
        }

        // Handle the music file upload
        $musicFile = $_FILES['music-input'];
        $thumbnail = $_FILES['music-thumb-input'];

        // Generate a unique folder name for this music upload
        $musicFolderName = uniqid();
        $musicFolderPath = $musicTargetDir . $musicFolderName . '/';

        // Create a dedicated folder for this music upload
        mkdir($musicFolderPath);

        // Generate a unique filename for the music file
        $musicFileExtension = pathinfo($musicFile['name'], PATHINFO_EXTENSION);
        $musicFileName = uniqid() . '.' . $musicFileExtension;

        // Define the path for the music file within the folder
        $musicFilePath = $musicFolderPath . $musicFileName;

        // Move the uploaded music file to the target directory
        if (move_uploaded_file($musicFile['tmp_name'], $musicFilePath)) {
            // Handle successful music file upload, e.g., store file path in a database if needed
        } else {
            // Handle music file upload errors
        }

        // Generate a unique filename for the thumbnail
        $thumbnailFileExtension = pathinfo($thumbnail['name'], PATHINFO_EXTENSION);
        $thumbnailFileName = uniqid() . '.' . $thumbnailFileExtension;

        // Define the path for the thumbnail within the folder
        $thumbnailPath = $musicFolderPath . $thumbnailFileName;

        // Move the uploaded thumbnail to the target directory
        if (move_uploaded_file($thumbnail['tmp_name'], $thumbnailPath)) {
            // Handle successful thumbnail upload, e.g., associate it with the music

            $getID3Music = new getID3;
            $music_file = $getID3Music->analyze($musicFilePath);
            $duration_music = $music_file['playtime_string'];

            $fieldsMusic = array(
                'user_id' => $pt->user->id,
                'video_id' => $musicFolderName, // Use the folder name as video_id
                'title' => $_POST['music-title-input'],
                'description' => $_POST['music-desc-input'],
                'thumbnail' => $thumbnailPath, // Store the thumbnail path
                'video_location' => $musicFilePath, // Store the video path
                'size' => filesize($musicFilePath), // Get the video file size in bytes
                'duration' => $duration_music,
                'file_type' => 'music',
                'time' => time()
            );

            // Insert the data into the 'videos' table
            $musicSave = $db->insert('videos', $fieldsMusic);
            if($musicSave){
                echo "Music Save Successful";
            }

            echo "Upload successful!";
        } else {
            // Handle thumbnail upload errors
        }
    }
}

?>

<body>
    <div class="upload-wrap">
        <h1>What are you uploading?</h1>
        <div class="upload-select">
            <button class="select-button" onclick="showForm('video-upload')">
                <img src="../themes/youplay/layout/upload-video/video.png" class="button-icon" />
            </button>
            <button class="select-button" onclick="showForm('gallery-upload')">
                <img src="../themes/youplay/layout/upload-video/gallery.png" class="button-icon" />
            </button>
            <button class="select-button" onclick="showForm('music-upload')">
                <img src="../themes/youplay/layout/upload-video/musical-note.png" class="button-icon" />
            </button>
        </div>

        <form class="video-upload form-container" name="video-upload" id="video-upload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="video_hidden" value="1" />
            <div class="file-upload-wrapper">
                <div class="form-field">
                    <label for="video-input" class="field-label">Select Video File</label>
                    <input type="file" name="video-input" id="video-input" accept="video/*" />
                </div>
                <div class="form-field">
                    <label for="thumb-input" class="field-label">Select Thumbnail</label>
                    <input type="file" name="video-thumb-input" id="thumb-input" accept="image/*" />
                </div>
            </div>
            <div class="form-field">
                <label for="title-input" class="field-label">Video Title</label>
                <input type="text" name="video-title-input" id="title-input" />
            </div>
            <div class="form-field">
                <label for="desc-input" class="field-label">Video Description</label>
                <input type="text" name="video-desc-input" id="desc-input" />
            </div>
            <div class="form-field">
                <label for="tag-input" class="field-label">Add Tags (seperated by " , ")</label>
                <input type="text" name="video-tag-input" id="tag-input" />
            </div>
            <div class="form-field">
                <button type="submit" id="video-submit" class="submit-button" data-form-id="video-upload">
                    Upload
                </button>
            </div>
        </form>

        <form action="" class="gallery-upload form-container" id="gallery-upload" name="gallery-upload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="gallery_hidden" value="2" />
            <div class="file-upload-wrapper">
                <div class="form-field">
                    <label for="gallery-input" class="field-label">Select Image Files</label>
                    <input type="file" name="gallery-input[]" id="gallery-input" accept="image/*" multiple />
                </div>
                <div class="form-field">
                    <label for="img-thumb-input" class="field-label">Select Thumbnail</label>
                    <input type="file" name="img-thumb-input" id="img-thumb-input" accept="image/*" />
                </div>
            </div>
            <div class="form-field">
                <label for="img-title-input" class="field-label">Title</label>
                <input type="text" name="img-title-input" id="img-title-input" />
            </div>
            <div class="form-field">
                <label for="img-desc-input" class="field-label">Description</label>
                <input type="text" name="img-desc-input" id="img-desc-input" />
            </div>
            <div class="form-field">
                <label for="img-tag-input" class="field-label">Add Tags (seperated by " , ")</label>
                <input type="text" name="img-tag-input" id="img-tag-input" />
            </div>
            <div class="form-field">
                <button type="submit" id="gallery-submit" class="submit-button" data-form-id="gallery-upload">
                    Upload
                </button>
            </div>
        </form>

        <form action="" class="music-upload form-container" id="music-upload" name="music-upload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="music_hidden" value="3" />
            <div class="file-upload-wrapper">
                <div class="form-field">
                    <label for="music-input" class="field-label">Select Music File</label>
                    <input type="file" name="music-input" id="music-input" accept="audio/*" />
                </div>
                <div class="form-field">
                    <label for="music-thumb-input" class="field-label">Select Thumbnail</label>
                    <input type="file" name="music-thumb-input" id="music-thumb-input" accept="image/*" />
                </div>
            </div>
            <div class="form-field">
                <label for="music-title-input" class="field-label">Title</label>
                <input type="text" name="music-title-input" id="music-title-input" />
            </div>
            <div class="form-field">
                <label for="music-desc-input" class="field-label">Description</label>
                <input type="text" name="music-desc-input" id="music-desc-input" />
            </div>
            <div class="form-field">
                <label for="music-tag-input" class="field-label">Add Tags (seperated by " , ")</label>
                <input type="text" name="music-tag-input" id="music-tag-input" />
            </div>
            <div class="form-field">
                <button type="submit" id="music-submit" class="submit-button" data-form-id="music-upload">
                    Upload
                </button>
            </div>
        </form>

        <div id="error-message" style="color: red; margin-bottom: 25px"></div>
    </div>

    <script>
        function showForm(formName) {
            // Hide all forms
            var forms = document.querySelectorAll(".form-container");
            forms.forEach(function(form) {
                form.style.display = "none";
            });

            // Show the selected form
            var selectedForm = document.getElementById(formName);
            if (selectedForm) {
                selectedForm.style.display = "block";
            }
        }

        // Show the default form (video upload) when the page loads
        showForm("video-upload");

        // Function to validate the form
        function validateForm(form) {
            // Reset previous error messages
            document.getElementById("error-message").innerText = "";

            // Get form elements
            const mediaInput = document.querySelector('input[type="file"]');
            const titleInput = document.querySelector(
                'input[name*="-title-input"]'
            );
            const descInput = document.querySelector('input[name*="-desc-input"]');

            // Check if all required fields are filled
            if (
                mediaInput.files.length === 0 ||
                !titleInput.value ||
                !descInput.value
            ) {
                document.getElementById("error-message").innerText =
                    "All fields are required.";
                return false;
            }

            // You can add more specific validation here if needed

            return true;
        }
    </script>
</body>

</html>