<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Upload</title>

    <style>

        div.upload-wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            justify-content: center;
            background-color: #3A3B3C;
            border-radius: 10px;
        }

        .upload-select{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
        }

    </style>
</head>

<body>
    <div class="upload-wrap">
            <h1>What are you uploading?</h1>
            <div class="upload-select">
                <label for="" class="upload-label">
                    <input type="radio" name="select" id="video" class="upload-radio">
                </label>
                <label for="" class="upload-label">
                    <input type="radio" name="select" id="comic" class="upload-radio">
                </label>
                <label for="" class="upload-label">
                    <input type="radio" name="select" id="art" class="upload-radio">
                </label>
            </div>
    </div>
</body>

</html>